
$redColor: #f95353;
$transparentRed: hsla(0, 93%, 65%, 0.341);

$whiteColor: #ffffff;
$blackColor:#000;
$lightBlack: #333333;

$grayColor: rgb(96, 95, 101);
$darkGray: rgb(85, 86, 91);


$lightBg: #f7f7f7;

$txtGreen: #57c654 ;

$hoverColor :#56c553;

$socialFa: #3b5998;
$socialTw: #00b6f1;
$socialP:  #ea4c89;
$socialGo: #df4a32;
$socialYt: #b31217;


$transparentBlack: rgba(0, 0, 0, 0.7);




//Media queries
$xsmall: 320px;
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1400px;


// Typography 
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lora', serif;